body {
  margin: 0;
}

textarea {
  resize: none;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.main {
  width: 80%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}
